[submodule "haskell/concurrent-skiplist"]
	path = deps/concurrent-skiplist
	url = git@github.com:rrnewton/concurrent-skiplist.git
[submodule "haskell/ctrie"]
	path = deps/ctrie
	url = git@github.com:iu-parfunc/ctrie.git
