[submodule "pbbs"]
	path = pbbs
	url = git@github.com:iu-parfunc/pbbs.git
	ignore = untracked
[submodule "haskell/HSBencher"]
	path = haskell/HSBencher
	url = git@github.com:rrnewton/HSBencher.git
[submodule "nixpkgs"]
	path = haskell/nixpkgs
	url = git@github.com:iu-parfunc/nixpkgs.git
